
@{
    ViewBag.Title = "Index";
}

<h2>calculadora</h2>

@using (Html.BeginForm())
{
<table>
    <tr>
        <td colspan="5">
            <input type="text" name="visor" readonly="readonly" value="@ViewBag.resposta" />
        </td>
    </tr>
    <tr>
        <td><input type="submit" name="bt" value="7" /></td>
        <td><input type="submit" name="bt" value="8" /></td>
        <td><input type="submit" name="bt" value="9" /></td>
        <td><input type="submit" name="bt" value=":" /></td>
        <td><input type="submit" name="bt" value="+/-" /></td>
    </tr>
    <tr>
        <td><input type="submit" name="bt" value="4" /></td>
        <td><input type="submit" name="bt" value="5" /></td>
        <td><input type="submit" name="bt" value="6" /></td>
        <td><input type="submit" name="bt" value="x" /></td>
        <td><input type="submit" name="bt" value="c" /></td>
    </tr>
    <tr>
        <td><input type="submit" name="bt" value="1" /></td>
        <td><input type="submit" name="bt" value="2" /></td>
        <td><input type="submit" name="bt" value="3" /></td>
        <td><input type="submit" name="bt" value="-" /></td>
        <td rowspan="2"><input type="submit" name="bt" value="=" /></td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit" name="bt" value="0" /></td>
        <td><input type="submit" name="bt" value="," /></td>
        <td><input type="submit" name="bt" value="+" /></td>          
    </tr>

</table>
}

